<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  <script>
    // document.onload = function() {
      let posts = document.querySelectorAll('.post-list li');

      for (let i=0; i<posts.length; i++) {
        console.log(colorizer());
      posts[i].style.backgroundColor = colorizer();
      }
      function colorizer() {
        let r = Math.floor(Math.random() * (255 - 100) + 100);
        let g = Math.floor(Math.random() * (255 - 100) + 100);
        let b = Math.floor(Math.random() * (255 - 100) + 100);
        return 'rgb(' + r + ','+ g +','+ b + ')';
      }
    // }
  </script>
  </body>

</html>
